/*
* This file contains all default application-wide Sass and CSS3 variables.
*/

/* used to determine when to trigger an external icon */

/* Type Sizes */

/* 12px */

/* 14px */

/* 16px */

/* 18px */

/* 20px */

/* 24px */

/* 28px */

/* 32px */

/* 36px */

/* 44px */

/* 54px */

/* 64px */

/* 80px */

/* 122px */

/* 12px */

/* 14px */

/* 16px */

/* 18px */

/* 20px */

/* 24px */

/* 28px */

/* 32px */

/* 36px */

/* 44px */

/* 54px */

/* 64px */

/* 80px */

/* 122px */

/* Colors */

/* Default colors */

/* Title weights */

/* Forms */

/* Buttons */

/* Tables */

/* Carousel */

/* Throbber / ajax loading animation */

/* CLF 8 Breakpoints map */

/* CLF 7 Breakpoints map to control version 7 of the CLF separately */

@media screen and (min-width: 2400px) {

  .container {
      max-width: 2400px !important;
  }

  #ubc7-global-menu .clf-container,
  #ubc7-header .clf-container,
  #ubc7-unit .clf-container,
  #ubc7-footer .clf-container,
  #ubc7-unit-menu .clf-container {
    width: calc(2400px - 32px);
  }

  #ubc7-header .span9 {
    width: 2259px;
  }

  #ubc7-wordmark {
    width: 40% !important;
  }

  .layout--centered #main-content {
    width: 2400px;
  }
}
