/* drupal media */
/*
* This file contains all default application-wide Sass and CSS3 variables.
*/
/* used to determine when to trigger an external icon */
/* Type Sizes */
/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 24px */
/* 28px */
/* 32px */
/* 36px */
/* 44px */
/* 54px */
/* 64px */
/* 80px */
/* 122px */
/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 24px */
/* 28px */
/* 32px */
/* 36px */
/* 44px */
/* 54px */
/* 64px */
/* 80px */
/* 122px */
/* Colors */
/* Default colors */
/* Title weights */
/* Forms */
/* Buttons */
/* Tables */
/* Carousel */
/* Throbber / ajax loading animation */
/* CLF 8 Breakpoints map */
/* CLF 7 Breakpoints map to control version 7 of the CLF separately */
/* test simplified styles */
embed,
iframe,
object {
  aspect-ratio: 16/9; /* yay! */
  max-width: 100%;
  height: auto;
}
figure img {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
figure.align-left,
figure.align-right {
  margin-bottom: calc(var(--leading) * 1rem);
}
.media,
img.align-center {
  margin-top: calc(var(--leading) * 1rem);
}
figure .media {
  margin-top: 0;
}
img.align-left,
img.align-right,
.align-left.media img,
.align-right.media img,
.align-left.media iframe,
.align-right.media iframe {
  margin-top: 0;
  margin-bottom: calc(var(--leading) * 1rem);
}
@media (min-width: 768px) {
  .align-left {
    float: left;
    margin-right: 1.5rem;
  }

  .align-right {
    float: right;
    margin-left: 1.5rem;
  }

  .align-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .caption.align-center {
    display: table;
  }

  .align-left,
  .align-right,
  .align-center {
    clear: both;
    max-width: 50%;
  }

  figure.align-left,
  figure.align-right {
    margin-bottom: calc(var(--leading) * .5rem);
  }

  img.align-left,
  img.align-right,
  .align-left.media img,
  .align-right.media img,
  .align-left.media iframe,
  .align-right.media iframe {
    margin-bottom: calc(var(--leading) * .5rem);
  }

}
/* styles for below the small breakpoint */
@media (max-width: 767px) {

  .text-formatted .align-left,
  .text-formatted .align-right {
    float: none;
    max-width: 100%;
  }

  figure.align-left,
  figure.align-right {
    width: 100%;
  }

}
/* specific overrides */
.carousel__cell .media--type-remote-video,
.media--type-remote-video.media--view-mode--featured-content {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* add play button on top of image thumbnail */
.media--type-remote-video {
  position: relative;
}
.media--type-remote-video .field--name-thumbnail {
  /*position: absolute;*/
  width: 100%;
  /*height: 100%;*/
  cursor: pointer;
}
.media--type-remote-video .field--name-thumbnail img {
  width: 100%;
}
.media--type-remote-video .field--name-thumbnail:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/svg/icon-play.svg");
  background-position: center;
  background-size: 4rem 4rem;
  background-repeat: no-repeat;
  content: '';
}
@media (min-width: 768px) {
  .media--type-remote-video .field--name-thumbnail:after {
    background-size: 7.5rem 7.5rem;
  }
}