/** @define list styles */

/*
* This file contains rules for adjusting the presentation of lists and list items
*/

/* Lists */
ul,
ol,
dl {
  @apply my-3;
}

ul {
  @apply pl-6;

  list-style-type: disc;
}

ol {
  @apply pl-6;

  list-style-type: decimal;
}

dt {
  text-transform: uppercase;
}

h2 + ul,
h2 + ol,
h2 + dl,
h3 + ul,
h3 + ol,
h3 + dl,
h4 + ul,
h4 + ol,
h4 + dl,
h5 + ul,
h5 + ol,
h5 + dl,
h6 + ul,
h6 + ol,
h6 + dl {
  @apply mt-leading;
}

ul > ul,
ol > ol,
ul > ol,
ol > ul {
  @apply my-0;
}

/* default ol styles */
.text-formatted ol li {
  list-style-type: decimal;
}

.text-formatted ol li li {
  list-style-type: lower-alpha;
}

.text-formatted ol li li li {
  list-style-type: lower-roman;
}

.text-formatted ol li li li li {
  list-style-type: upper-alpha;
}

.text-formatted ol li li li li li {
  list-style-type: upper-roman;
}

/* default ul styles */
.text-formatted ul li {
  list-style-type: disc;
}

.text-formatted ul li li {
  list-style-type: circle;
}

.text-formatted ul li li li {
  list-style-type: square;
}

/* styles for formatted text (since we don't style lists automatically) */
ul.list-unstyled,
ol.list-unstyled,
.list-unstyled ul,
.list-unstyled ol,
ul.item-list,
ol.item-list,
.item-list ul,
.item-list ol {
  padding-left: 0;
  list-style: none;
}

/* inline list */
.list-inline {
  @apply pl-0 list-none;
}

.list-inline li {
  display: inline;
}

@media (min-width: 768px) {

  .sm--list-inline li {
    display: inline;
  }
}

@media (min-width: 980px) {

  .md--list-inline li {
    display: inline;
  }
}

/* Lists with extra space that isn't leading */
.list-relaxed li {
  @apply py-1;
}

/* bordered list */
.list-bordered {
  @apply pl-0 list-none border border-grey-500;
}

.list-bordered li {
  @apply px-6 py-3;
}

.list-bordered > li {
  @apply border-t border-grey-300;
}

.list-bordered li:first-child {
  @apply border-t-0;
}

/* checked list */
.list-checked {
  @apply pl-0 list-none;
}

.list-checked li {
  @apply pl-6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1792 1792'%3E%3Cpath d='M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z' fill='%23002145'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top 0.25em left;
  background-size: 1em 1em;
}

.list-checked ul:not(.list-checked) {
  list-style-type: initial;
}

.list-checked ol:not(.list-checked) {
  list-style-type: decimal;
}

.list-checked ul li,
.list-checked ol li {
  padding-left: initial;
  background-image: none;
}

@media (min-width: 1720px) {

  .list-checked li {
    @apply pl-8;
  }

}
