/** @define media */

/*
* This file contains base styles related to media, such as images, svgs and iframes.
*/

img,
video {
  max-width: 100%;
  height: auto;
}

figure {
  @apply mt-leading;

  margin-bottom: 0;
}

figcaption {
  @apply px-3 pt-2 text-sm text-grey-700;
}


/* svgs
* add a default stroke width (utilities to modify in separate file)
*/
svg {
  stroke-width: 2;
  fill: none;
}

/* embedded media (iframes) */
embed,
iframe,
object {
  aspect-ratio: 16/9; /* yay! */
  max-width: 100%;
  height: auto;
  width: 100%;
}

/* embedded spotify media (iframes) */
.field--name-field-media-oembed-spotify embed,
.field--name-field-media-oembed-spotify iframe,
.field--name-field-media-oembed-spotify object {
  aspect-ratio: 3/1; /* yay! */
}

.img-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-zoom {
  overflow: hidden;
}

.img-zoom img {
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom center;
}

.img-zoom:hover img {
  transform: scale(1.05);
}

.img-rounded img {
  border-radius: 9999px;
}

@media (min-width: $breakpoint--md) {

  .md--img-cover-none img {
    width: auto;
    height: auto;
    object-fit: initial;
  }

}

.img-zoom {
  overflow: hidden;
}

.img-zoom img {
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom center;
}

.img-zoom:hover img {
  transform: scale(1.05);
}

.img-rounded img {
  border-radius: 9999px;
}

/* embedded media */
.media--type-soundcloud iframe,
.media--type-remote-audio iframe {
  width: 100%;
  height: 152px;
  margin-top: calc(var(--leading) * 1rem);
}