/** @define typography */

/*
* This file contains default typographic styles for text.
*/

html {
  color: var(--default-text-color);
  font-family: var(--text-font-stack);
  font-size: 100%;
}

body {
  font-family: var(--text-font-stack);
  font-size: var(--base-font-size);
  line-height: var(--leading);
}

/* heading elements */
h1,
.h1 {
  margin-top: calc(var(--leading) * 3.5rem);
  margin-bottom: 0;
  font-family: var(--alternate-font-stack);
  font-size: 2.75rem;
  font-weight: var(--title-weight);
  line-height: 1.25;
}

h2,
.h2 {
  margin-top: calc(var(--leading) * 2.25rem);
  margin-bottom: 0;
  font-family: var(--alternate-font-stack);
  font-size: 2.625rem;
  font-weight: var(--title-weight);
  line-height: 1.4;
}

h3,
.h3 {
  margin-top: calc(var(--leading) * 1.75rem);
  margin-bottom: 0;
  letter-spacing: 0.025em;
  font-family: var(--alternate-font-stack);
  font-size: 2.25rem;
  font-weight: var(--title-weight);
  line-height: 1.4;
}

h4,
.h4 {
  margin-top: calc(var(--leading) * 1.25rem);
  margin-bottom: 0;
  letter-spacing: 0.025em;
  font-family: var(--alternate-font-stack);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5,
.h5 {
  margin-top: calc(var(--leading) * 1rem);
  margin-bottom: 0;
  letter-spacing: 0.05em;
  font-family: var(--alternate-font-stack);
  font-size: 1rem;
  font-weight: var(--title-weight);
  line-height: 1.425;
}

h6,
.h6 {
  margin-top: calc(var(--leading) * 1rem);
  margin-bottom: 0;
  letter-spacing: 0.05em;
  font-family: var(--alternate-font-stack);
  font-size: .875rem;
  font-weight: var(--title-weight);
  line-height: 1.425;
}

.heading-display,
.heading-display h1 {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.2;
}

/* responsive type (20px min to 46px max) - see https://modern-fluid-typography.vercel.app for configuration */
.heading-responsive {
  line-height: 1.2;
  font-weight: 900;
  font-size: clamp(1.25rem, 2vw + 1rem, 2.875rem);
}

@media (max-width: 479px) {
  .heading-display,
  .heading-display h1 {
    @apply text-2xl;
  }
}

/* text elements */
p,
pre,
table,
blockquote {
  @apply mb-0 mt-leading;
}

b,
strong {
  font-weight: 600;
}

code,
kbd,
pre,
samp {
  font-family: var(--code-font-stack);
  font-feature-settings: normal;
  font-variation-settings: normal;
}

kbd,
code {
  @apply py-[.125em] px-[.25em] bg-grey-100;
}

code,
kbd,
sub,
sup,
samp,
.text--code {
  position: relative;
  vertical-align: baseline;
}

pre {
  @apply relative p-4 border rounded-sm bg-grey-100 border-grey-300 text-grey-800;
  direction: ltr;
  font-style: normal;
  min-width: 200px;
  tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
}

pre code {
  background: unset;
  border-radius: 0;
  padding: 0;
}

kbd {
  @apply inline-block text-sm border shadow-sm border-grey-300;
  text-wrap: nowrap;
  border-radius: 3px;
  font-weight: 600;
  line-height: 1;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Blockquote */
blockquote {
  @apply relative p-12 mx-auto my-8 text-2xl text-grey-700;
  max-width: 60ch;
  /* quotes: "“""”""‘""’"; */
  font-family: var(--alternate-font-stack);
}

blockquote p:first-of-type {
  @apply mt-0;
}

blockquote p:last-of-type {
  @apply relative;
}

/*
blockquote p:first-of-type::before {
	content: '“';
}

blockquote p:last-of-type::after {
	content: '”';
}
*/

cite,
.cite {
  @apply pt-6 font-sans text-sm not-italic font-normal text-right uppercase;
}

cite span,
.cite span {
  @apply block;
}

.blockquote--inverse,
.blockquote--inverse cite,
.blockquote--inverse .cite {
  @apply text-left bg-transparent text-ubc-blue;
}

/* Tables */
table {
  margin-top: 0.75rem;
}

/* horizontal rule element */
hr,
.hr {
  @apply mx-0 my-3 border-t border-grey-300;
}

.hr--styled {
  @apply max-w-[7rem] mx-0 my-3 border-t border-ubc-blue;
}

/* Text utilities */
.text-lead {
  @apply mb-0 text-xl;
  margin-top: calc(var(--leading) * 1.5rem);
  font-family: var(--text-font-stack);
  line-height: var(--leading);
}

.text-hug {
  @apply mt-0;
}

/* text transformation */
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/* Line length - we use the 'ch' unit, which is the width of the '0' [zero] character in the current font. */
/* https://meyerweb.com/eric/thoughts/2018/06/28/what-is-the-css-ch-unit/ */
.text-measure {
  max-width: 60ch;
  display: block;
}

.text-measure-sm {
  max-width: 50ch;
  display: block;
}

.text-measure-lg {
  max-width: 70ch;
  display: block;
}

/* indent styles */
.indented {
  @apply ml-8;
}

[dir="rtl"] .indented {
  @apply ml-0 mr-8;
}