{% set mastheadhomeattributes = create_attribute() %}
{% set classes = [
    'mb-8',
    'masthead',
    'masthead--home',
    'fade',
    customClasses,
  ]
%}

<section {{ mastheadhomeattributes.addClass(classes).setAttribute('style', 'opacity:0') }}>
  <div class="container px-5 mx-auto masthead__container md--px-4">
    <div class="masthead__content">
      <h1 class="masthead__heading max-w-[520px]">
        {% block title %}{% endblock %}
      </h1>
      <p class="masthead__teaser max-w-[520px]">{{ subtitle }}</p>
      <form class="max-w-[520px]" action="/search-ubc-extended-learning" method="get" id="masthead-search-api-block" accept-charset="UTF-8">
        <div class="relative flex">
          <label for="edit-search-api-fulltext3" class="mb-2 text-sm font-medium text-gray-900 sr-only dark--text-white">Search</label>
          <div class="absolute left-0 flex pl-3 mt-2 pointer-events-none place-self-center search-icon">
            <svg role="presentation" class="inline-block w-4 h-4 text-ubc-blue" aria-hidden="true">
            <use xlink:href="#icon-magnifying-glass"></use>
            </svg>
          </div>
          <input placeholder="I am interested in..." class="flex-1 block pl-10 mt-2 border-0 placeholder-ubc-grey-1" data-drupal-selector="edit-search-api-fulltext" type="search" id="edit-search-api-fulltext3" name="search_api_fulltext" size="30" maxlength="128">
          <input class="mt-2 unit-button unit-button--secondary flex-no-grow button js-form-submit form-submit" type="submit" id="edit-submit-search-api3" value="Search">
        </div>
      </form>
    </div>
    <figure class="relative m-0 masthead__media img-cover">
      {% block media %}{% endblock %}
      {% if imageCaption %}
        <figcaption class="absolute right-0">
          {{ imageCaption }}
        </figcaption>
      {% endif %}
    </figure>
  </div>
  <figure class="relative m-0 masthead__media--mobile img-cover">
    {% block mediaMobile %}{% endblock %}
    {% if imageCaption %}
      <figcaption class="absolute right-0">
        {{ imageCaption }}
      </figcaption>
    {% endif %}
  </figure>
</section>
