/** @define custom */

/*
* This file contains all styles related to the custom theme.
*/


.widget-card .ubc-card {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);

}

.widget-card .ubc-card:hover {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.widget-card h3 {
  font-size: 1.5rem;
}

.widget-card .card__footer,
.widget-card .ubc-card__actions {
  margin-top: auto;
  padding: 1rem;
}

.widget-card.bg-unit-primary a:not(.unit-button),
.widget-card.bg-unit-primary a:hover:not(.unit-button),
.widget-color-box.bg-unit-primary a:not(.unit-button),
.widget-color-box.bg-unit-primary a:hover:not(.unit-button),
.widget-color-box.bg-ubc-blue a:not(.unit-button),
.widget-color-box.bg-ubc-blue a:hover:not(.unit-button),
.widget-color-box.bg-ubc-blue-sea a:not(.unit-button),
.widget-color-box.bg-ubc-blue-sea a:hover:not(.unit-button),
.widget-color-box.bg-ubc-blue-cobalt a:not(.unit-button),
.widget-color-box.bg-ubc-blue-cobalt a:hover:not(.unit-button) {
  color: #fff;
}

/* Inline list */
.list-inline {
  margin-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-left: 0;
}

/* paragraphs */
.paragraph--type--text__inner > :first-child,
.paragraph--type--text > div > div > :first-child {
  @apply mt-0;
}

/* text and links on coloured backgrounds */
.bg-dark,
.bg-dark a:not(.unit-button),
.bg-dark.text-white a:hover:not(.unit-button),
.widget-card.bg-unit-primary,
.widget-color-box.bg-unit-primary,
.widget-color-box.bg-ubc-blue,
.widget-color-box.bg-ubc-blue-sea,
.widget-color-box.bg-ubc-blue-cobalt {
  color: #fff;
}


.bg-dark a:not(.unit-button),
.widget-card.bg-unit-primary a:not(.unit-button),
.widget-color-box.bg-unit-primary a:not(.unit-button),
.widget-color-box.bg-ubc-blue a:not(.unit-button),
.widget-color-box.bg-ubc-blue-sea a:not(.unit-button),
.widget-color-box.bg-ubc-blue-cobalt a:not(.unit-button)  {
  color: $ubc-blue-polar;
}

.bg-dark a:not(.unit-button):hover,
.widget-card.bg-unit-primary a:not(.unit-button):hover,
.widget-color-box.bg-unit-primary a:not(.unit-button):hover,
.widget-color-box.bg-ubc-blue a:not(.unit-button):hover,
.widget-color-box.bg-ubc-blue-sea a:not(.unit-button):hover,
.widget-color-box.bg-ubc-blue-cobalt a:not(.unit-button):hover {
  color: $ubc-blue-cornflower;
}

.bg-dark .unit-button--light,
.widget-card.bg-unit-primary .unit-button--light,
.widget-color-box.bg-unit-primary .unit-button--light,
.widget-color-box.bg-ubc-blue .unit-button--light,
.widget-color-box.bg-ubc-blue-sea .unit-button--light,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--light {
  color: $ubc-blue-cobalt;
}

.bg-dark .unit-button--dark,
.widget-card.bg-unit-primary .unit-button--dark,
.widget-color-box.bg-unit-primary .unit-button--dark,
.widget-color-box.bg-ubc-blue .unit-button--dark,
.widget-color-box.bg-ubc-blue-sea .unit-button--dark,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--dark {
  border-color: $ubc-blue-polar;
}

.bg-dark .unit-button--simple,
.bg-dark .unit-button--simple:hover,
.bg-dark.group:hover .unit-button--simple,
.widget-card.bg-unit-primary .unit-button--simple,
.widget-card.bg-unit-primary .unit-button--simple:hover,
.widget-card.bg-unit-primary.group:hover .unit-button--simple,
.widget-card.bg-ubc-blue .unit-button--simple,
.widget-card.bg-ubc-blue .unit-button--simple:hover,
.widget-card.bg-ubc-blue.group:hover .unit-button--simple,
.widget-card.bg-ubc-blue-sea .unit-button--simple,
.widget-card.bg-ubc-blue-sea .unit-button--simple:hover,
.widget-card.bg-ubc-blue-sea.group:hover .unit-button--simple,
.widget-card.bg-ubc-blue-cobalt .unit-button--simple,
.widget-card.bg-ubc-blue-cobalt .unit-button--simple:hover,
.widget-card.bg-ubc-blue-cobalt.group:hover .unit-button--simple,
.widget-color-box.bg-unit-primary .unit-button--simple,
.widget-color-box.bg-unit-primary .unit-button--simple:hover,
.widget-color-box.bg-ubc-blue .unit-button--simple,
.widget-color-box.bg-ubc-blue .unit-button--simple:hover,
.widget-color-box.bg-ubc-blue-sea .unit-button--simple,
.widget-color-box.bg-ubc-blue-sea .unit-button--simple:hover,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--simple,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--simple:hover {
  color: #fff;
}

.bg-dark .unit-button--simple::after,
.bg-dark .unit-button--simple:hover::after,
.bg-dark.group:hover .unit-button--simple::after,
.widget-card.bg-unit-primary .unit-button--simple::after,
.widget-card.bg-unit-primary .unit-button--simple:hover::after,
.widget-card.bg-unit-primary.group:hover .unit-button--simple::after,
.widget-card.bg-ubc-blue .unit-button--simple::after,
.widget-card.bg-ubc-blue .unit-button--simple:hover::after,
.widget-card.bg-ubc-blue.group:hover .unit-button--simple::after,
.widget-card.bg-ubc-blue-sea .unit-button--simple::after,
.widget-card.bg-ubc-blue-sea .unit-button--simple:hover::after,
.widget-card.bg-ubc-blue-sea.group:hover .unit-button--simple::after,
.widget-card.bg-ubc-blue-cobalt .unit-button--simple::after,
.widget-card.bg-ubc-blue-sea-cobalt .unit-button--simple:hover::after,
.widget-card.bg-ubc-blue-sea-cobalt.group:hover .unit-button--simple::after,
.widget-color-box.bg-unit-primary .unit-button--simple::after,
.widget-color-box.bg-unit-primary .unit-button--simple:hover::after,
.widget-color-box.bg-ubc-blue .unit-button--simple::after,
.widget-color-box.bg-ubc-blue .unit-button--simple:hover::after,
.widget-color-box.bg-ubc-blue-sea .unit-button--simple::after,
.widget-color-box.bg-ubc-blue-sea .unit-button--simple:hover::after,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--simple::after,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--simple:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-miterlimit='10' stroke-width='4' d='M26 20.006L40 32 26 44.006'%3E%3C/path%3E%3C/svg%3E");
}

/* SVG Icon fix for cards */
.paragraph--type--icon-card img {
  margin-right: auto;
  margin-left: auto;
}

/* Views exposed forms */
.views-exposed-form .form-item {
  margin-top: 0;
}

/* image filters */
.img-greyscale {
  filter: grayscale(100%);
}

.keyline-bottom::after {
  position: absolute;
  display: block;
  background: #fff;
  height: 1px;
  width: 40%;
  left: 30%;
  content: '';
  bottom: -5px;
  opacity: .5;
}
