/** @define button */

/*
* This file contains all styles related to the button component.
*/

/* flex button */
.unit-button,
[data-drupal-button-link~="unit-button"],
.btn-primary,
.btn-unit-reverse {
  @apply inline-flex text-center no-underline border px-[1em] py-[.5em] cursor-pointer;
  color: var(--button-text);
  background-color: var(--button-bg);
  border-color: var(--button-border);
  line-height: 1.3;
  transition: all 0.125s ease-out;
}

.unit-button::after,
[data-drupal-button-link~="unit-button"]::after,
.btn-primary::after,
.btn-unit-reverse::after {
  @apply w-[1.25em] h-[1.25em] bg-transparent z-0;
  content: '';
  /* change svg stroke to same colour as text */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-miterlimit='10' stroke-width='4' d='M26 20.006L40 32 26 44.006'%3E%3C/path%3E%3C/svg%3E");
  background-position: center  center;
  background-size: 1.25em;
  background-repeat: no-repeat;
  transition: transform .125s ease;
  transform: translateY(-.05em);
}

.unit-button:hover,
[data-drupal-button-link~="unit-button"]:hover,
.btn-primary:hover,
.btn-unit-reverse:hover
.group:hover .unit-button,
.group:hover [data-drupal-button-link~="unit-button"],
.group:hover .btn-primary,
.group:hover .btn-unit-reverse,
.unit-button:active,
[data-drupal-button-link~="unit-button"]:active,
.btn-primary:active,
.btn-unit-reverse:active {
  @apply no-underline shadow-md;
  color: var(--button-text--hover);
  background-color: var(--button-bg--hover);
  border-color: var(--button-border--hover);
  transition: background-color .125s ease, color .125s ease;
}

.unit-button:hover::after,
[data-drupal-button-link~="unit-button"]:hover::after,
.btn-primary:hover::after,
.btn-unit-reverse:hover::after,
.group:hover .unit-button::after,
.group:hover [data-drupal-button-link~="unit-button"]::after,
.group:hover .btn-primary::after,
.group:hover .btn-unit-reverse::after {
  /* change svg stroke to same colour as text */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-miterlimit='10' stroke-width='4' d='M26 20.006L40 32 26 44.006'%3E%3C/path%3E%3C/svg%3E");
  transform: translate(.5em, -.05em);
  transition: transform .125s ease;
}

.unit-button--block,
[data-drupal-button-link~="unit-button--block"] {
  @apply block w-full text-center;
}

/* button colour variations */
/* light button */
.unit-button--light,
[data-drupal-button-link-style~="unit-button--light"],
.btn-primary {
  color: var(--button-light-text);
  background-color: var(--button-light-bg);
  border-color: var(--button-light-border);
}

.unit-button--light::after,
[data-drupal-button-link-style~="unit-button--light"]::after,
.btn-primary::after {
  /* change svg stroke to same colour as text */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='4' d='M26 20.006L40 32 26 44.006'%3E%3C/path%3E%3C/svg%3E");
}

.unit-button--light:hover,
[data-drupal-button-link-style~="unit-button--light"]:hover,
.btn-primary:hover,
.unit-button--light:active,
[data-drupal-button-link-style~="unit-button--light"]:active,
.btn-primary:active {
  color: var(--button-light-text--hover);
  background-color: var(--button-light-bg--hover);
  border-color: var(--button-light-border--hover);
}

.unit-button--light:hover::after,
[data-drupal-button-link-style~="unit-button--light"]:hover::after,
.btn-primary:hover::after,
.group:hover .unit-button--light::after,
.group:hover [data-drupal-button-link-style~="unit-button--light"]::after,
.group:hover .btn-primary::after {
  /* change svg stroke to same colour as text */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='4' d='M26 20.006L40 32 26 44.006'%3E%3C/path%3E%3C/svg%3E");
}

/* dark button */
.unit-button--dark,
[data-drupal-button-link-style~="unit-button--dark"],
.btn-unit-reverse {
  color: var(--button-dark-text);
  background-color: var(--button-dark-bg);
  border-color: var(--button-dark-border);
}

.unit-button--dark::after,
[data-drupal-button-link-style~="unit-button--dark"]::after,
.btn-unit-reverse::after {
  /* change svg stroke to same colour as text */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-miterlimit='10' stroke-width='4' d='M26 20.006L40 32 26 44.006'%3E%3C/path%3E%3C/svg%3E");
}

.unit-button--dark:hover,
[data-drupal-button-link-style~="unit-button--dark"]:hover,
.btn-unit-reverse:hover,
.group:hover .unit-button--dark,
.group:hover [data-drupal-button-link-style~="unit-button--dark"],
.group:hover .btn-unit-reverse,
.unit-button--dark:active,
[data-drupal-button-link-style~="unit-button--dark"]:active,
.btn-unit-reverse:active {
    color: var(--button-dark-text--hover);
    background-color: var(--button-dark-bg--hover);
    border-color: var(--button-dark-border--hover);
}

.unit-button--dark:hover::after,
[data-drupal-button-link-style~="unit-button--dark"]:hover::after,
.btn-unit-reverse:hover::after,
.group:hover .unit-button--dark::after,
.group:hover [data-drupal-button-link-style~="unit-button--dark"]::after,
.group:hover .btn-unit-reverse::after {
  /* change svg stroke to same colour as text */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-miterlimit='10' stroke-width='4' d='M26 20.006L40 32 26 44.006'%3E%3C/path%3E%3C/svg%3E");
}

/* transparent button */
.unit-button--transparent,
[data-drupal-button-link-style~="unit-button--transparent"] {
  color: var(--button-transparent-text);
  background-color: var(--button-transparent-bg);
  border-color: var(--button-transparent-border);
}

.unit-button--transparent:hover,
[data-drupal-button-link-style~="unit-button--transparent"]:hover
.group:hover .unit-button--transparent,
.group:hover [data-drupal-button-link-style~="unit-button--transparent"],
.unit-button--transparent:active,
[data-drupal-button-link-style~="unit-button--transparent"]:active {
  color: var(--button-transparent-text--hover);
  background-color: var(--button-transparent-bg--hover);
  border-color: var(--button-transparent-border--hover);
}

/* outline button */
.unit-button--outline,
[data-drupal-button-link-style~="unit-button--outline"] {
  color: var(--default-color-link);
  border-color: var(--default-color-link);
  background-color: #fff;
}

.unit-button--outline::after,
[data-drupal-button-link-style~="unit-button--outline"]::after {
  /* change svg stroke to same colour as text */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%230055b7' stroke-miterlimit='10' stroke-width='4' d='M26 20.006L40 32 26 44.006'%3E%3C/path%3E%3C/svg%3E");
}

.unit-button--outline:hover,
[data-drupal-button-link-style~="unit-button--outline"]:hover,
.group:hover .unit-button--outline,
.group:hover [data-drupal-button-link-style~="unit-button--outline"] {
  color: #fff;
  border-color: var(--default-color-link);
  background-color: var(--default-color-link);
}

.unit-button--outline:hover::after,
[data-drupal-button-link-style~="unit-button--outline"]:hover::after,
.group:hover .unit-button--outline::after,
.group:hover [data-drupal-button-link-style~="unit-button--outline"]::after {
  /* change svg stroke to same colour as text */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-miterlimit='10' stroke-width='4' d='M26 20.006L40 32 26 44.006'%3E%3C/path%3E%3C/svg%3E");
}

.unit-button--outline:active,
[data-drupal-button-link-style~="unit-button--outline"]:active {
  color: #fff;
  border-color: var(--default-color-link);
  background-color: var(--default-color-link);
}

/* simple button */
.unit-button--simple,
[data-drupal-button-link-style~="unit-button--simple"] {
  @apply relative inline-flex py-0 pl-0 tracking-wider border-0;
  color: var(--default-color-link);
  background: transparent;
}

.unit-button--simple:hover,
[data-drupal-button-link-style~="unit-button--simple"]:hover
.group:hover .unit-button--simple,
.group:hover [data-drupal-button-link-style~="unit-button--simple"] {
  text-decoration: none;
  color: var(--default-color-link-hover);
  background: transparent;
  box-shadow: none;
}

.unit-button--simple::after,
.unit-button--simple:hover::after,
[data-drupal-button-link-style~="unit-button--simple"]::after,
[data-drupal-button-link-style~="unit-button--simple"]:hover::after,
.group:hover .unit-button--simple::after,
.group:hover [data-drupal-button-link-style~="unit-button--simple"]::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%230055b7' stroke-miterlimit='10' stroke-width='4' d='M26 20.006L40 32 26 44.006'%3E%3C/path%3E%3C/svg%3E");
}

.unit-button-no-icon::after {
  display: none;
}

.unit-button-icon {
  top: 0.5em;
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  transform: translateY(0.2em);
}

/* button sizes */
[data-drupal-button-link-size~="text-xs"] {
  font-size: 0.75rem;
}

[data-drupal-button-link-size~="text-sm"] {
  font-size: 0.875rem;
}

[data-drupal-button-link-size~="text-lg"] {
  font-size: 1.125rem;
}

[data-drupal-button-link-size~="text-xl"] {
  font-size: 1.25rem;
}

[data-drupal-button-link-size~="text-2x"] {
  font-size: 1.5rem;
}