
@import "config/variables.config.css";

/* alterations to form elements provided by the webform module */

.webform-actions,
.webform-submission-form .form-actions {
  margin-top: calc(var(--leading) * 1rem);
}

.webform-submission-form .field-prefix,
.webform-submission-form .field-suffix {
  font-size: .875em;
}

.webform-multiple-table .form-item,
.webform-mapping-table .form-item,
.webform-likert-table .form-item,
.webform-submission-form input.form-color {
  margin-top: 0;
}

.webform-submission-form .fieldset-wrapper {
  margin-top: 1em;
}

.webform-submission-form .form-required {
  color: inherit;
  position: relative;
}

.text-count-message,
.description {
  @apply text-sm text-grey-700;
}

.form--inline .form-item {
  margin-top: 0;
}

.webform-submission-form input[type="submit"]:not(.webform-button--submit) {
  @apply inline-flex text-center no-underline uppercase border;
  padding: 0.5em 1em .3em;
  cursor: pointer;
  transition: all 0.125s ease-out;
  color: $button-text;
  border-color: $button-border;
  background-color: $button-bg;
  line-height: 1.3;
  font-size: .75em;
}

.webform-submission-form input[type="submit"]:not(.webform-button--submit):hover {
  @apply no-underline shadow-md;
  color: $button-text--hover;
  border-color: $button-border--hover;
  background-color: $button-bg--hover;
}

.webform-submission-form input[name="autocomplete_table_add"],
.webform-submission-form input[name="custom_composite_table_add"] {
  margin-top: .5em;
  margin-bottom: .5em;
}

.tabledrag-toggle-weight {
  font-size: .75em;
}

@media (min-width: $breakpoint--xs) {

  .webform-options-display-two-columns,
  .webform-options-display-three-columns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    -moz-column-count: initial;
    -webkit-column-count: initial;
    column-count: initial;
  }

  .webform-options-display-two-columns div.form-item {
    width: 50%;
  }

  .webform-options-display-three-columns div.form-item {
    width: calc(100% / 3);
  }

}

.webform-submission-form .checkboxes--wrapper legend,
.webform-submission-form .webform-checkboxes-other--wrapper legend,
.webform-submission-form .radios--wrapper legend,
.webform-submission-form .webform-radios-other--wrapper legend {
  padding-bottom: 0;
  text-transform: none;
  border-bottom: none;
  font-size: .875rem;
  color: #002145;
}

.webform-submission-form .checkboxes--wrapper .fieldset-wrapper,
.webform-submission-form .webform-checkboxes-other--wrapper .fieldset-wrapper,
.webform-submission-form .radios--wrapper .fieldset-wrapper,
.webform-submission-form .webform-radios-other--wrapper .fieldset-wrapper,
.webform-submission-form :not(.checkboxes--wrapper) .form-item.form-checkbox,
.webform-submission-form :not(.radios--wrapper) .form-item.form-radio {
  margin-top: .5em;
}