{% extends "page.html.twig" %}

{% block clftop %}{% endblock clftop %}

{% block unitcontent %}
{{ attach_library('kraken/maintenance-page') }}
<main id="unit-content" class="px-2 py-10">
  <div class="px-16 py-8 mx-auto rounded shadow-lg bg-grey-50 sm--max-w-md">
  <svg role="img" class="block w-12 h-12 mx-auto text-ubc-blue">
    <use xlink:href="#logo-ubc"></use>
  </svg>
  <h1 class="pb-4 mt-10 text-2xl font-normal text-grey-500">{{ site_name }} under maintenance</h1>
  {{ page.highlighted }}
  {{ page.content }}
  </div>
</main>
{% endblock unitcontent %}

{% block clfbottom %}{% endblock clfbottom %}